extends home.pug
block content
    section.mean 
        h1 adding products
        div.log
            form(action="/adddetail" method="POST")
                label name
                br
                input(type="text" name="name" )
                br
                label price
                br
                input(type="text" name='price')
                br
                label count
                br
                input(type="text" name='count')
                br
                label image
                br
                input(name="image")
                br
                button add