extends home.pug
block content
    section.mean
        h1 adminpanel
        div.adminmenu 
            a(href='/adddetail') adddetail
            a(href='/edit') edit
        br
        div.table
            table
                tr
                    th stocks
                    th price
                    th count 
                each val in stock 
                    tr
                        td=val.detail.name
                        td=val.detail.price
                        td=val.detail.count 