extends home.pug
block content
    h1 detailed review
    div.reviw
        img(src=data.image, alt="error")
    div.buy 
        br
        span name :
        span=data.name
        br
        br
        span price :
        span=data.price
        br
        br
        br
        button buy