<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title shop
    link(href="/site.css" rel="stylesheet") 
body
    header
        img(src="header.jpg", alt="error")
        if !currentUser
            div  
                a(href='./register') register
                a(href='/login') login 
        if currentUser
            div  
                a(href='/addcar') addfurniture
                a(href='/car/list') list
                a(href='/profil/') profil
                a(href='/logout') logout
            div.greeting wellcome 
            h4.greeting=currentUser.username 
    block content