<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title shop
    link(href="/site.css" rel="stylesheet") 
body
    header
        img(src="/header.jpg", alt="error")
        if !currentUser
            div  
                a(href='./register') register
                a(href='/login') login
                a(href='/list') list
        if currentUser  
            div  
                a(href='/home') home
                a(href='/list') list 
                a(href='/profil/') profil
                a(href='/logout') logout
            span.greeting wellcome 
                span=currentUser.username 
    block content 
        div.mssg 
            span this is a test case 
        section.mean
            h1 our test online shop
            br 
            br
            h5 this is not a real store, here all is for testing purposes
            br
            h3=tanks
            br
            br 
            p.first
                img(src="first.jpg")
            p.second
                img(src="second.jpg") 
    footer 