extends home.pug
block content
    section.mean
        h1 your profile
        br
        div.table
            table
                tr
                    th name
                    th price
                    th date
                each val in purchases
                    tr
                        td=val.detail.name
                        td=val.detail.price
                        td=val.date