extends home.pug
block content
    section.mean
        h1 register
        br
        h2=err
        br
        div.log
            form(action="/register" method="POST")
                label username
                br
                input(type="text" name="username" )
                br
                label first name
                br
                input(type="text" name='firstName')
                br
                label last name
                br
                input(type="text" name='lastName')
                br
                label password
                br
                input(type="password" name="password")
                br
                button register