extends home.pug
block content
    section.buy 
        p=data.name  
        p price :
            span=data.price
        img(src=data.image, alt="error")
        br  
        br 
        form(action="/shopping/"+data._id method='POST')
            button buy