<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title shop
    link(href="/stile.css" rel="stylesheet") 
body
    header
        img(src="/header.jpg", alt="error")
        if !currentUser
            div  
                a(href='/register') register
                a(href='/login') login
                a(href='/list') list 
                a(href='/new/home') new version

        if currentUser  
            div  
                a(href='/home') home
                a(href='/list') list 
                a(href='/profil/') profil
                a(href='/new/home') new version
                a(href='/logout') logout
            span.greeting wellcome 
                span=currentUser.username 
    block content  
            div.slider
                div.first  
                    img(src="/bedroom.jpeg", alt="error")  
                div.second  
                    img(src="/kitchen.jpeg", alt="error")
            ul.menu
                li
                    a(href='/list') products
                li 
                    a(href='/profil/') profil
                li
                    a(href='/new/kitchen') kitchen
                li
                    a(href='/new/bedroom') bedroom
                        
                      