header img{
    width: 100%;
    height:250px 
}
header a{
    margin-left: 10%;
    position:relative; 
    top:-40px; 
    color:rgb(212, 131, 10);
    font-size: 25px;  
} 
h1 {
    text-align: center
}

a{
    text-decoration:none 
}
.greeting{
    position: absolute;
    top: 100px; 
    color: rgb(233, 93, 13);
    font-size:35px;
    margin-left:40%  
}
  
.slider{
    display: inline-block ;
    width: 70%;
    height:500px;  
    overflow: hidden; 
    border-radius: 20px;
}

.first{ 
     
    animation-name: slid;
    animation-duration: 10s;
    animation-iteration-count: infinite
}

.first img{
    width: 100%;
    height: 500px; 
}

.second{ 
    
    animation-name: slid1;
    animation-duration: 10s; 
    animation-iteration-count: infinite
}

.second img{
    width: 100%;
    margin-top:-600px;  
    height: 550px; 
}

  
 @keyframes slid{
    0%{margin-left: -100%;  }
    25%{margin-left: 0%; }
    50%{margin-left: 0%;  opacity: 1}
    75%{margin-left: 100%;opacity:0.4  ;visibility: hidden}
    100%{margin-left: -100%;visibility: hidden}
 }
 @keyframes slid1{
     0%{margin-left: 0%}
     25%{margin-left:100%;opacity:0.4; visibility: hidden }
     50%{margin-left: -100%;visibility:hidden }
     75%{margin-left: 0%;opacity: 1; }
     100%{margin-left: 0%}
 }

 .menu{
     display: inline-block
 }

.preview {
    background-image: url('test.jpg');
    width: 40%;
    height: 450px;
    text-align: center;
    margin-left: 30% ;
    border-radius: 20px; 
}
.preview img{
    width: 60%;
    height: 40%
}

.preview p{
    color:wheat; 
}
.preview span {
    margin-left: 5px
}

.preview img:hover{
      cursor: pointer; 
      width: 75%;
      height: 60%
}

.preview #discount{
    margin-left: 3%;
    color: red;
    border: 1px solid red;
    width: 10%;
    height: 10%;
    position: absolute;
    border-radius: 40%;
    background-color:  gold; 
    animation-name:discount;
    animation-duration: 3s;
    animation-iteration-count:3  
}

@keyframes discount{
    0%{transform: scale(0.4); opacity: 0.3}
    100%{transform: scale(1.3)}
}
 

.menu{
    position: absolute; 
    margin-left: 70%;
    margin-top: 100px;
    width:15%;
    height:  300px;
    text-align: center; 
}

.menu li{ 
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    list-style-type: none;
    color:  wheat;
    height: 30px;
    border-radius: 10px; 
    font-size: 20px
}
 
.menu li a{
    
    display: none;
    width: 100px
}

.menu li:hover  a{
    display:block;
    font-size:20px;
    background-color:gray;
    color: gold; 
    margin-left: -70px;  
    position: relative
}

.menu :hover{ 
     color: greenyellow
}
.buy{
    width: 70%;
    height:60%
}
.buy img{
   width: 100%;
   height:600px ;
}
.buy p{
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
    width: 40%;
    margin-left: 25% ;
    border-radius:10px;   
}

.buy p span{
    padding-left: 10px
}
.buy button{
    margin-left: 80%;
    margin-top: -10%;
    position: absolute;
    cursor: pointer;
}

.page{   
    text-align:center 
}
.page span{
   padding:5px ; 
}

.simple-page{
    text-align:center 
}

.simple-page a{
    padding: 10px;
    margin: 10px; 
    background-color:green;
    border-radius: 5px 
}

.old{
    margin-left:5%; 
    text-align: center;
    border: 1px solid red;
    width: 20%;
    height:930px ;
    position:  absolute; 
    border-radius: 20px;
    background: linear-gradient(rgb(163, 154, 154), rgb(28, 28, 31));
}
.old img{
    width: 80%;
    height: 30%;
    border: 4px solid rgb(114, 60, 60);
    border-radius: 10px
}

footer{
    text-align: center;
    width: 100%;
    height: 100px;
    background-color:gold; 
}